<html>

<body bgcolor="gold"><hr>
<center><h1><font color="red"> GOLD PRICE PREDICTION</font></h1></center><hr>
<center><image src="https://www.bankrate.com/2021/07/09085801/GettyImages-1130532216.jpg"width="400px"height="300px"border="5"></center>
    <hr>

<br>
<br><br> <form action = "http://localhost:5000/login" method = "get">  
    <table>  
   <tr><td>Last 3 days Avg</td>  
   <td><input type ="text" name ="d3"></td></tr>  
   <tr><td>Last 9 days Avg</td>  
   <td><input type ="text" name ="d9"></td></tr>  
   <tr><td><input type = "submit"></td></tr>  
</table>  
 </form>  
</body>
</html>